[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nevpro/Desktop/PICO PARK 2.desktop]
row=1
col=1

[/home/nevpro/Desktop/PortProton.desktop]
row=5
col=0

[/home/nevpro/Desktop/com.valvesoftware.Steam.desktop]
row=2
col=0

[/home/nevpro/Desktop/VampireSurvivors]
row=3
col=0

[/home/nevpro/Desktop/dde-computer.desktop]
row=7
col=0

[/home/nevpro/Desktop/Ayugram]
row=0
col=1

[/home/nevpro/Desktop/com.heroicgameslauncher.hgl.desktop]
row=4
col=0

[/home/nevpro/Desktop/Hl2.desktop]
row=2
col=1

[/home/nevpro/Desktop/The Long Drive.desktop]
row=8
col=0

[Trash]
row=6
col=0

[/]
row=0
col=0

[/home/nevpro]
row=1
col=0

